.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("Annotation 2024-02-07 155528.jpg");
    background-size: cover;
    
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
     background-color: lightcoral;
     border: none;
     color: white;
     border-radius: 20px;
     padding: 13px;
}

.registerButton{
    color: lightcoral;
    background-color: white;
    padding: 9px;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;

}