.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("Annotation 2024-02-07 155528.jpg");
    background-size: cover;
    
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
     background-color: lightcoral;
     border: none;
     color: white;
     border-radius: 20px;
     padding: 13px;
}

.register11Button{
    color: white ;
    background-color: teal;
    padding: 9px;
    border-radius: 20px;
    border: none;
     cursor: pointer;

}